//
   Created by DSch on 09.02.2017.

nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a(href='/').navbar-brand List of Things

div(data-ng-controller='PersonsController').container.main-content
  table.table.table-bordered
    tr
      th
      th Name
      th Email
      th Birthday
    tr(data-ng-repeat='person in persons')
      td(data-ng-bind= '$index + 1')
      td(data-ng-bind='person.name')
      td(data-ng-bind='person.email')
      td(data-ng-bind='person.birthdate | date: "longDate" ')
