//
   Created by DSch on 09.02.2017.

.container(data-ng-init='title="CodeCraft"; awesome = true;')
  h1 {{ title }} is Awesome: {{ awesome }}

  .form
    .form-group
      input(type='text', data-ng-model='title').form-control
    .form-group
      input(type='checkbox', data-ng-model='awesome').form-control