//
   Created by DSch on 09.02.2017.

nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a(href='/').navbar-brand Form Validation - Part 1

div(data-ng-controller='MinMaxCtrl').container.main-content
  form(data-ng-submit='onSubmit(theForm.$valid)', novalidate='novalidate', name='theForm').form

    .form-group
      label(for='name').control-label Name
      input(type='text', data-ng-model='formModel.name')#name.form-control

    div(data-ng-class='{"has-error":!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted), "has-success":theForm.email.$valid && !theForm.$pristine}').form-group
      label(for='email').control-label Email
      input(type='email', data-ng-model='formModel.email',
        required='required', name='email')#email.form-control
      div(data-ng-class='{"tooltip-visible":theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)}').tooltip.bottom
        .tooltip-arrow
        .tooltip-inner This field is required
      div(data-ng-class='{"tooltip-visible":theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)}').tooltip.bottom
        .tooltip-arrow
        .tooltip-inner Please enter a correct email

    .form-group
      label(for='username').control-label Username
      input(type='text', data-ng-model='formModel.username')#username.form-control

    .form-group
      label(for='age').control-label Age
      input(type='number', data-ng-model='formModel.age')#age.form-control

    .form-group
      label(for='sex').control-label Sex
      select(name='sex', data-ng-model='formModel.sex')#sex.form-control
        option(value='') Please Choose
        option(value='male') Male
        option(value='female') Female

    .form-group
      label(for='password').control-label Password
      input(type='password', data-ng-model='formModel.password')#password.form-control

    .form-group
      button(type='submit').btn.btn-primary Register

  //pre {{formModel | json}}
  pre {{theForm | json}}