//
   Created by DSch on 09.02.2017.

nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a(href='/').navbar-brand Some Title

.container.main-content
  .row
    .col-sm-6
      .root
        label
          input(type='text', data-ng-model='data.name')
        p {{data.name}}

        .row
          div(data-ng-controller='ParentController').parent
            label
              input(type='text', data-ng-model='data.name')
            p {{data.name}}

            div(data-ng-controller='ChildController').child
              label
                input(type='text', data-ng-model='data.name')
              button(data-ng-click='reset()') Reset
              p {{data.name}}