//
   Created by DSch on 11.02.2017.

.row
  .col-sm-12
    h3 Header of home.jade
  .col-sm-12
    form
      .form-group.col-sm-6
        input(type='text', data-ng-model='post').form-control
      .form-group
        button(
          type='button',
          name='button',
          data-ng-click='sendPost(post)').btn.btn-success Send

    .row
      .col-sm-6
        .well.well-sm(data-ng-repeat='post in posts')
          i(data-ng-click='removePost(post, $index)').glyphicon.glyphicon-trash &nbsp;
            | {{post.id}}:{{post.post}}